body {
    --btnheight: 3rem;
    --btnwidth: 6rem;
    --btnborderradius: 20%;
    overflow-x: hidden;
}

.nav-bar {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: black;
    height: 70px;
}

.nav-bar button {
    height: var(--btnheight);
    width: var(--btnwidth);
    color: white;
    border-style: none;
    background-color: transparent;
    margin: 15px;
}  
.icon {
    position: absolute;
    top: 20px;
    left: 40px;
    background-color: white;
    height: 35px;
    border-radius: 50%;
}

.title {
    position: absolute;
    top: 1rem;
    left: 100px;
    color: white;
}

#home {
    background-color: rgb(0, 106, 255);
    border-radius: var(--btnborderradius);
}

.left-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 40vw;
    height: 42rem;
    background-color: rgb(171, 171, 171);
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    width: 100%;
    height: 100px;
}

.top h1 {
    font-size: 5vw;
    font-family: 'Montserrat', serif;
    font-weight: 600;
}

.subject {
    background: linear-gradient(to left, rgb(80, 78, 78),  rgb(60, 61, 61));
    margin-top: 10px;
    gap: 200px;
    width: 95%;
    height: 3.2rem;
}
.video-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
    margin-top: 3vh;

}
.videos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    height: 60vh;
    width: 45vw;
    gap: 15px;
}

.central-bar {
    width: 100%;
    height: 80vh;
    margin: 0;
    margin-top: 20px;
}


@media (max-width: 768px) {
    .videos {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }
  }

  @media (max-width: 480px) {
    .nav-bar {
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .nav-bar button {
        margin: 5px;
        margin-left: 80vw;
        margin-right: 30px;
    }

    #home {
        margin-top: 20px;
        margin-left: 80vw;
        margin-right: 20px;
    }
  
    .title {
        margin-top: 50px;
    }

    .icon {
        margin-top: 42px;
    }

    .d-flex {
        flex-direction: column;
        align-items: center;
    }

    .left-bar {
        width: 100%;
        height: 80vh;
        margin: 0;
        margin-top: 20px;
    }

    .video-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .videos {
        width: 80vw;
        height: 95vh;
    }

    .text {
        width: 100vw;
    }
  }
  
.video1 {
    background-color: black;
}

.video2 {
    background-color: rgb(131, 4, 4);
}

.video3 {
    background-color: rgb(48, 11, 11);
}

.video4 {  
    background-color: rgb(28, 3, 255);
}

.text {
    width: 45vw;
    height: 12vh;
    margin-top: 20px;
   background-color: rgb(102, 100, 100);
   border-radius: 50px;
   opacity: 0.8;
}